
  .footer-section {
    background-image: url('./images/Gradient.png');
  }

  .home-section {
    background-image: url('./images/BgGradient.png');
    background-repeat: no-repeat;
    background-color: #FFFFFF;
  }


@screen md {
  .footer-section {
    background-image: url('./images/GradientMd.png');
  }
}

@screen lg {
  .footer-section {
    background-image: url('./images/GradientLg.png');
  }
}
